<div class="container center">
    <h2>Sign In</h2>
    <form [formGroup]="signinform">
        <div class="row">
            <div class="col-25">
                <label for="lbl-username">Email</label>
            </div>
            <div class="col-75">
                <input type="text" formControlName="username" required minlength="4">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lbl-password">Password</label>
            </div>
            <div class="col-75">
                <input type="password" formControlName="password" class="form-control">
            </div>
        </div>
        <div class="row">
            <button style="margin: 10px 20px;" (click)="onSubmit()">Sign In</button>
        </div>
    </form>
</div>