
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box; 
 }
 .center {
   border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    width: 40%;
    border: 3px solid #f2f2f2;
    padding: 10px;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .error-alert{
    font-style: normal;
    color: chocolate;
    font-size: 16px;
  }
  .btnrow{
    padding-left: 200px;
    margin-top: 1%;
  }