.data {
    background-color: white;
    width: 300px;
    border: 3px solid #6590d6;
    padding: 100px;
    margin: 10px;
  }
  
  .items {
    background-color: #6590d6;
    width: 75px;
    border: 3px solid #0b0c0e;
    padding: 100px;
    margin: 10px;
  }
  
  .side-content {
    border: 3px solid #0b0c0e;
    background-color: orange;
  }
  
  .main-content {
    border: 3px solid #0b0c0e;
    background-color: yellow;
  }
  
  .child-3 {
    background-color: green;
  }
  
  .container {
    margin: 15px;
    height: 200px;
  }
  