@import url('../styles/style.css');

.main-content {
    background-color:white;
    width: 200px;
    height: 300px;
    border: 1px solid turquoise;
    padding: 10px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}