<div class="element-text">
    Contacts
</div>
<div class=main-content>
    <div style="overflow-x:auto;">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userobj of userdata" (click)="shareUserInfo(userobj)">
                    <td><ngx-avatar name={{userobj.user_name}} value="28%" bgColor="#FF0000" fgColor="#C0C0C0" size="40" textSizeRatio="2.5"
                        [round]="true"></ngx-avatar></td>
                    <td>{{userobj.user_name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>